.services_container {
    position: relative;
    top: 60px;
}

.services_content {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.services_content article {
    flex: 1;
    text-align: center;
    background-color: yellow;
}