.bootes {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $darkGreen;
        height: $majorComponentHeight;
        background-color: white;
    }

    &_content {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        position: relative;
        top: 20px;

        &-picture {
            width: 380px;
        }

        &-article {
            animation: vibing--bootesProject 1.5s ease-in-out forwards 0.4s;

            & h2 {
                position: relative;
                bottom: 10px;
            }

            & div {
                text-align: justify;
            }

            &-title {
                font-size: 40px;
                font-weight: bold;
            }
        }
    }

    &_title {
        animation: fallFromSky--bootesProject 0.4s ease-in forwards;
        color: #0CA876;
        font-size: $titleFontSize;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    }
}

.second-element {
    animation: vibingMirror--bootesProject 1.5s ease-in-out forwards 0.4s;
}

.first-title {
    align-self: left;
    animation: slideInLeft--bootesProject 1.5s forwards;
}

.second-title {
    text-align: right;
    animation: slideInRight--bootesProject 1.5s forwards;
    position: relative;
    right: -100%;
}

.first-title,
.second-title {
    border-bottom: 2px solid $darkGreen;
    white-space: nowrap;
}