.contact {
  &_container {
    width: 100vw;
  }

  &_content {
    &_title {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: fit-content;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-flowingAnimation {
        display: block;
        opacity: 1;
        animation: waterEffect--contactUs 6s linear forwards;
        transform-origin: center;
      }

      & h2 {
        font-size: $titleFontSize;
        height: 72px;
        text-shadow: 0 1px 2px rgb(0, 0, 0);
        color: #fff;
        text-shadow: 0 0px 40px, 0 0 2px, 0 0 0.25em $lightGreen,
          0 0 0.25em $lightGreen, 0 0 0.1em $lightGreen;
      }

      & p {
        position: relative;
        bottom: 40px;
        color: white;
        font-size: $standardFontSize;
        text-shadow: 0 0px 80px, 0 0 2px, 0 0 0.125em $lightGreen,
          0 0 0.125em $lightGreen, 0 0 0.0125em $lightGreen;
      }
    }
    &_lower {
      display: flex;
      width: 100%;
      &-main {
        flex: 4;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #fffafa;
        border-radius: 15px;
        box-shadow: -5px 10px 20px, 0 0 2px, 0 0 2em $lightGreen, 0 0 1em $lightGreen,
          0 0 1em $lightGreen, 0 10px 3px #000;
        height: 500px;
        gap: 30px;

        &-links {
          flex: 1;
          display: flex;
          justify-content: center;
          font-size: $linksFontSize;
          font-family: $linksFontFamily;
          letter-spacing: 1px;
          padding: 50px;
          white-space: nowrap;
          & div {
            text-align: left;
            display: flex;
            flex-direction:column ;
            gap: 30px;
            & a {
              cursor: pointer;
              color: $darkGreen;
              transition: 0.25s;
              color: $lightGreen;
              &:hover {
                transform: scale(1.125);
                color: $darkGreen;
              }
              & svg {
                font-size: 50px;
                width: 50px;
              }
            }
          }
        }
        &-txt {
          flex: 1.5;
          padding: 10px;
          // line-height: 200%;
          &-content {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-title {
                text-align: center;
                & b {
                    font-size: $subtitleFontSize
                }
            }
            &-subtitle {
                display: flex;
                flex-direction: column;
                font-size: $standardFontSize;
                text-align: justify;
            }
          }
        }
      }
      &-mascot {
        flex: 1;
        & img {
          width: 100%;
          height: auto;
        }

        & figcaption {
          position: relative;
          bottom: 40px;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
}

.ocean {
  position: relative;
  height: $majorComponentHeight;
  background-image: $darkGreen;
  overflow: hidden;
}

// Cas exceptionnel !
.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble--contactUs 15s ease-in-out infinite;

  &--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
  }

  &--2 {
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
  }

  &--3 {
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
  }

  &--4 {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
  }

  &--5 {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
  }

  &--6 {
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
  }

  &--7 {
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
  }

  &--9 {
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
  }

  &--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
  }

  &--11 {
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
  }

  &--12 {
    width: 20px;
    height: 20px;
    left: 70%;
    bottom: 30px;
    animation-delay: -15s;
    animation-duration: 22s;
    opacity: 0.4;
  }

  &--13 {
    width: 25px;
    height: 25px;
    left: 20%;
    bottom: 30px;
    animation-delay: -12s;
    animation-duration: 18s;
    opacity: 0.2;
  }

  &--14 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 30px;
    animation-delay: -8s;
    animation-duration: 16s;
    opacity: 0.3;
  }

  &--15 {
    width: 30px;
    height: 30px;
    left: 70%;
    bottom: 30px;
    animation-delay: -20s;
    animation-duration: 14s;
    opacity: 0.1;
  }
}
