.creations {
    &_content {
        &_upper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: last baseline;


            &-title {
                display: flex;
                flex: 3;
                justify-content: right;
                color: $lightGreen;
                text-shadow: 0 1px 2px rgb(0, 0, 0);
                font-family: 'Segoe UI', sans-serif;
                font-size: $titleFontSize;

                &-sleepingAnimation {
                    display: block;
                    animation: sleepingAnimation--myCreations 4s forwards ease-in-out;
                }
            }

            &-label {
                font-size: 40px;
                font-family: "acme", sans-serif;
                cursor: pointer;
                transition: $transitionButtonTime;

                &:hover {
                    transform: scale(1.125);
                }
            }

            &-nav {
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                gap: 30px;

                & label {
                    flex: 1;
                    height: fit-content;
                    background-color: $lightGreen;
                    border-radius: 10px;
                    transition: all 0.3 ease;
                    text-shadow: 0px 0px 5px $darkGreen;
                    color: white;

                    &:hover {
                        flex: 1.25;
                        color: white;
                        box-shadow: 0px 0px 5px $lightGreen;
                        text-shadow: 0px 0px 5px $lightGreen;
                        background-color: darken($lightGreen, 20%);
                    }
                }
            }
        }

        &_carrousel {
            position: relative;
            bottom: 30px;
            height: 600px;
            max-width: 100%;
            display: flex;
            flex-direction: row-reverse;
            gap: 50px;
            padding: 15px 0;
            text-align: center;

            &-img {
                flex: 3;
                width: 100%;
                box-shadow: 0px 0px 5px $lightGreen;
                border-radius: 5px;
                box-sizing: border-box;
                object-fit: contain;

            }

            &-txt {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 100px;
                justify-content: center;
                color: $darkGreen;

                &-title {
                    font-size: 36px;
                }

                &-subtitle {
                    display: block;
                    border-bottom: 1px solid $lightGreen;
                    box-shadow: 0px 0px 5px $lightGreen;
                }

                &-description {
                    letter-spacing: 0.25px;
                    font-size: 20px;
                }
            }


        }
    }
}

.slidein-animation {
    animation: slideIn--myCreations 0.5s forwards;
}

.slideout-animation {
    animation: slideOut--myCreations 0.5s forwards;
}