.creations {
    &_container {
        height: $majorComponentHeight;
    }

    &_content {
        & b {
            font-size: 22px;
        }

        &_upper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: last baseline;


            &-title {
                display: flex;
                flex: 3;
                justify-content: right;
                color: $lightGreen;
                text-shadow: 0 1px 2px rgb(0, 0, 0);
                font-family: 'Segoe UI', sans-serif;
                font-size: $titleFontSize;

                &-sleepingAnimation {
                    display: block;
                    animation: sleepingAnimation--myCreations 4s forwards ease-in-out;
                }
            }

            &-label {
                font-size: 40px;
                font-family: "acme", sans-serif;
                cursor: pointer;
                transition: $transitionButtonTime;

                &:hover {
                    transform: scale(1.125);
                }
            }

            &-nav {
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                gap: 30px;

                & label {
                    flex: 1;
                    height: fit-content;
                    background-color: $lightGreen;
                    border-radius: 10px;
                    transition: all 0.3 ease;
                    text-shadow: 0px 0px 5px $darkGreen;
                    color: white;

                    &:hover {
                        flex: 1.25;
                        color: white;
                        box-shadow: 0px 0px 5px $lightGreen;
                        text-shadow: 0px 0px 5px $lightGreen;

                        background-color: $darkGreen;
                        opacity: 0.9;
                    }
                }
            }
        }

        &_carrousel {
            position: relative;
            bottom: 20px;
            height: 600px;
            max-width: 100%;
            display: flex;
            flex-direction: row-reverse;
            gap: 50px;
            padding: 15px 0;
            text-align: center;

            &-img {
                flex: 3;
                width: 100%;
                height: 95%;
                box-shadow: 0px 0px 5px $lightGreen;
                border-radius: 5px;
                box-sizing: border-box;
                object-fit: contain;

            }

            &-txt {
                display: flex;
                flex-direction: column;
                flex: 1;
                text-align: center;
                color: $darkGreen;
                height: 100%;
                padding: 5px;

                &-title {
                    flex: 1;
                    font-size: 36px;

                    &-subtitle {
                        display: block;
                        border-bottom: 1px solid $lightGreen;
                        box-shadow: 0px 0px 5px $lightGreen;
                    }
                }

                &-links {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    height: 100%;

                    & svg {
                        height: 25px;
                        transition: $transitionButtonTime;
                        color: $lightGreen;

                        &:hover {
                            transform: scale(1.25);
                            cursor: pointer;
                            color: $darkGreen;
                        }
                    }
                }

                &-description {
                    flex: 6;
                    display: flex;
                    flex-direction: column;
                    letter-spacing: 0.25px;
                    font-size: 20px;
                    height: 100%;
                }
            }


        }
    }
}

.slidein-animation {
    animation: slideIn--myCreations 0.25s forwards;
}

.slideout-animation {
    animation: slideOut--myCreations 0.25s forwards;
}

.checked {
    flex: 1.25 !important;
    color: white;
    box-shadow: 0px 0px 5px $lightGreen !important;
    text-shadow: 0px 0px 5px $lightGreen !important;
    // background-color: darken($lightGreen, 20%);
    background-color: $darkGreen !important;
    opacity: 0.9 !important;
    transform: scale(1.125);
}