.creations {
    &_content {
        &_upper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: last baseline;

            &-title {
                display: flex;
                color: $lightGreen;
                text-shadow: 0 1px 2px rgb(0, 0, 0);
                font-family: 'Segoe UI', sans-serif;
                font-size: $titleFontSize;
    
                &-sleepingAnimation {
                    display: block;
                    animation: sleepingAnimation--myCreations 4s forwards ease-in-out;
                }
            }
            &-label {
                font-size: 30px;
            }
            &-nav {
            
            }
        }
        &_carrousel {
            position: relative;
            bottom: 40px;
            background-color: yellow;
            height: 620px;
            max-width: 100%;
            display: grid;
            grid-template-columns: 10fr 5fr;
            gap: 10px;
            padding: 15px;

        }
    }
}

.aaa {
    height: 620px;
    border-top: 1px solid #000000;
    background-color: rebeccapurple;
    box-shadow: 0px 0px 5px $lightGreen;
    border-radius: 5px;
}

.bbb {
    height: 620px;
    border-top: 1px solid #000000;
    background-color: red;
    box-shadow: 0px 0px 5px $lightGreen;
    border-radius: 5px;
}

.slidein-animation {
    animation: slideIn--myCreations 0.5s forwards;
}

.slideout-animation {
    animation: slideOut--myCreations 0.5s forwards;
}