.skills {

    &_container {
        background-color: #031a13;
        height: $majorComponentHeight;
    }

    &_content {
        position: relative;
        bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        gap: 60px;

        & section {
            display: flex;
            flex-direction: column;
            flex: 1;
            text-align: center;
            background-color: #fffafa;
            border-radius: 2.5%;
            box-shadow: -5px 10px 20px, 0 0 2px, 0 0 2em $lightGreen, 0 0 1em $lightGreen, 0 0 1em $lightGreen, 0 10px 3px #000;
            padding: 20px 0;
            margin-top: 15px;
            height: 520px;
        }

        &-img {
            width: 120px;
            height: 110px;
        }

        &-titleGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            & h3 {
                position: relative;
                font-size: 30px;
                font-family: "Indie Flower", cursive;
            }
        }

        &-articleListing {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50%;
            font-size: 24px;
            gap: 12px;
            font-family: "Montserrat", sans-serif;
            text-align: center;
        }

        &-description {
            font-size: 20px;
            position: relative;
            bottom: 5px;
        }

        &-bar {
            background-color: $lightGreen;
            width: 80%;
            height: 2px;
            border-radius: 10px;
            margin: 15px 0;
            align-self: center;
        }

        &-credit {
            color: white;
            top: 10px;
            text-align: center;
            text-shadow: 0 -20px 100px, 0 0 2px, 0 0 2em $lightGreen, 0 0 1em $lightGreen, 0 0 0.2em $lightGreen, 0 10px 6px #000;
        }
    }


    &_subTitle {
        margin: 15px 0 5px 0;
    }
}

.title-skills {
    position: relative;
    bottom: 30px;
    text-align: left;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    color: #fff;
    padding: 50px 0 0 50px;
    text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em $lightGreen, 0 0 0.5em $lightGreen, 0 0 0.1em $lightGreen, 0 10px 3px #000;
    font-size: $titleFontSize;
    & span {

        &:nth-of-type(1) {
            animation: blink--mySkills linear infinite 2s;
        }

        &:nth-of-type(2) {
            font-family: 'Segoe UI', sans-serif;
            animation: blink--mySkills linear infinite 3s;
        }
    }

}