::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.096);
}

::-webkit-scrollbar-thumb {
  background-color: $lightGreen;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin;
}

body {
  font-family: $standardFontFamily, Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: white;
  margin: 0px;
}

li {
  list-style: none;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
}

figcaption {
  position: relative;
  bottom: 10px;
  font-size: small;
}

b {
  font-family: $boldFontFamily;
}

a {
  text-decoration: none;
  color: #031a13;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 0;
  height: 0;
  position: absolute;
}

.importantComponent {
  max-width: 1600px;

}

.darkComponent {
  background-color: #031a13;
}

.importantComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding: 0px 0;
}