html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 5px;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: white;
  margin: 0px;
}

li {
  list-style: none;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
}

figcaption {
  position: relative;
  bottom: 10px;
  font-size: small;
}

b {
  font-family: "Acme", sans-serif;
  font-size: large;
}

a {
  text-decoration: none;
  color: #031a13;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 0;
  height: 0;
  position: absolute;
}

.importantComponent {
  max-width: 1600px;

}

.darkComponent {

  background-color: #031a13;
}

.importantComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}