/* ------------------------------------
DESKTOP
------------------------------------ */

/* HD Desktop - 1680px + */
@media (min-width: 1681px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    display: flex;
    min-height: 900px;
  }

  .bootes_container {
    margin-top: 60px;
  }

  .skills {
    &_content {
      position: relative;
      bottom: 20px !important;
    }
  }
}

/* HD Desktop - 1680px (x1050 / x900) */
@media (max-width: 1680px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    min-height: 920px;
    display: flex;
  }
  .importantComponent {
    padding: 0 40px;
  }

  .bootes_container {
    margin-top: 60px;
  }

  .skills_content {
    position: relative;
    bottom: 80px !important;
    &_low {
      align-items: center;
      width: 95vw;
    }
  }

  .contact_content {
    position: relative;
    bottom: 40px !important;
  }

  .creations_content {
    position: relative;
    bottom: 40px !important;
  }


}

/* Desktop - 1440px (x900) */
@media (max-width: 1440px) {
  .importantComponent {
    position: relative;
    bottom: 20px;
  }

  .header_content {
    background: linear-gradient(
      105deg,
      rgb(5, 46, 34) 320px,
      #fafafa 325px
    ) !important;

    &-ul {
      gap: 2rem !important;
      white-space: nowrap;
    }
  }

  .bootes {
    &_container {
      margin-top: 80px !important;
    }

    &_content {
      top: 0px !important;
    }
  }

  .skills {
    &_content {
      bottom: 20px !important;
    }
  }

  .creations {
    &_content {
      position: initial;
  }
}

  .ocean {
    min-height: 820px !important;
  }

  .contact_content {
    &_lower-main {
      height: 420px !important;

      &-txt-content {
        gap: 0px !important;

        &-subtitle p:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

/* Low Desktop - 1366px (x768) */
@media (max-width: 1366px) {

  .bootes {
    &_container {
      margin-top: 40px !important;
    }
    &_content {
      top: -40px !important;
      align-items: center;
      grid-template-columns: 3fr 0.5fr 3fr;

      &-picture {
        width: 300px !important;
      }

      &-article {
        &-txt {
          overflow: scroll !important;
          font-size: 16px !important;
        }

        &-title {
          font-size: 34px !important;
        }
      }
    }
  }

  .skills {
    &_subTitle {
      margin: 5px 0 5px 0 !important;
    }

    &_content {
      top: -60px !important;

      &-articleListing {
        font-size: 20px !important;
      }

      &-img {
        height: 90px !important;
        width: 100px !important;
      }
      & section {
        height: 420px !important;
        padding: 0 5px !important;
      }

      &-description {
        display: none !important;

        & + .contentBar-horizontal {
          margin: 0 !important;
        }
      }
    }
  }

  .title-skills {
    position: relative;
    bottom: 40px !important;
  }

  .skills_content {
    position: relative;
    bottom: 60px !important;
  }

  figcaption.skills_content-credit {
    top: 10px !important;
  }

  .creations {
    &_content {
      &_carrousel {
        max-height: 500px !important;

        &-txt-description {
          overflow: scroll;
          overflow-x: hidden !important;
          scrollbar-width: thin;
          font-size: 18px !important;
        }
      }
    }
  }

  .contact_content {
    &_lower-main {
      height: 400px !important;
    }

    &_title {
      display: initial !important;
    }
  }
}

/* ------------------------------------
TABLETTE
------------------------------------ */

/* Full HD Tablette / Very low Desktop - 1280px (x800) */
@media (max-width: 1280px) {
}

/* Low Tablette - 1024 (x768) */
@media (max-width: 1024px) {
}

/* ------------------------------------
MOBILE
------------------------------------ */

// /* Smartphone - 768 (x576) */
@media (max-width: 768px) {
}
