/* En dehors des résolutions prévues (où le rendu se veut optimal), tous les formats sont tolérés, du ridiculement large au ridiculement long.
/* ------------------------------------
DESKTOP
------------------------------------ */

/* HD Desktop - 1680px + */
@media (min-width: 1681px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    display: flex;
    min-height: 900px;
  }
}

/* HD Desktop - 1680px (x1050 / x900) */
@media (max-width: 1680px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    min-height: 920px;
    display: flex;
  }
  .importantComponent {
    padding: 0 40px;
  }

  .skills_content {
    &_low {
      align-items: center;
      width: 90vw;
    }
  }

  .contact_content {
    position: relative;
    bottom: 40px !important;
  }
}

/* Desktop - 1440px (x900) */
@media (max-width: 1440px) {
  .header_content {
    background: linear-gradient(
      105deg,
      rgb(5, 46, 34) 320px,
      $brokenWhite 325px
    ) !important;

    &-ul {
      gap: 2rem !important;
      white-space: nowrap;
    }
  }

  .contact_content {
    &_lower-main {
      height: 420px !important;

      &-txt-content {
        gap: 0px !important;

        &-subtitle p:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .creations_content_carrousel {
    height: 500px !important;
  }
}

/* Low Desktop - 1366px (x768) - Very low Desktop - 1280px (x800) */
@media (max-width: 1366px) {
  .bootes {
    &_title {
      position: relative;
      top: -20px !important;
    }
    &_content {
      position: relative;
      top: -40px !important;
      grid-template-columns: 3fr 0.5fr 3fr;

      &-picture {
        width: 300px !important;
      }
    }
  }

  .skills {
    &_subTitle {
      margin: 5px 0 5px 0 !important;
    }

    &_content {
      position: relative;
      bottom: 60px !important;

      &-img {
        height: 90px !important;
        width: 100px !important;
      }
      & section {
        height: 420px !important;
        padding: 0 5px !important;
      }

      &-description {
        display: none !important;

        & + .contentBar-horizontal {
          margin: 0 !important;
        }
      }
    }
  }

  figcaption.skills_content-credit {
    top: 10px !important;
  }

  .creations {
    &_content {
      position: relative;
      bottom: 20px !important;
      &_carrousel {
        height: initial !important;
        max-height: 440px !important;
        &-img {
          // Chrome FIX !!
          min-width: 300px !important;
        }

        &-txt-description {
          max-height: 200px !important;
          overflow: scroll;
          overflow-x: hidden !important;
          scrollbar-width: thin;
          padding: 0 10px;
        }
      }
    }
  }

  .contact_content {
    &_lower-main {
      height: 400px !important;
    }

    &_title {
      display: initial !important;
    }
  }
}

/* ------------------------------------
TABLETTE
------------------------------------ */

/* HD Tablette - 1024 (x 768 - x600 toléré seulement) - Still landscape/square though */
@media (max-width: 1279px) {
  .importantComponent {
    // Native x768 is 844.
    min-height: 840px !important;
  }
  figure {
    justify-content: center !important;
  }
  figcaption.skills_content-credit {
    top: -20px !important;
  }

  .header {
    &_nav {
      width: fit-content !important;

      &-prefixe {
        display: none;
      }
      &-unit {
        color: white;
        text-transform: capitalize;
        text-shadow: 0px 0px 5px $lightGreen;
      }
      &-svg {
        box-shadow: 0 0px 5px rgba(255, 255, 255, 1) !important;
      }
    }

    &_content {
      background: rgb(5, 46, 34) !important;
      box-shadow: 0 0px 2px rgba($lightGreen, 0.75),
        0 2px 10px rgba(white, 0.25) !important;
      &-nav {
        width: 100% !important;
      }
      &-logo {
        display: none;
      }
      &-ul {
        text-align: initial !important;
        display: flex;
        justify-content: space-around;
      }
      &-li {
        min-width: auto !important;
      }

      &-miniLogo {
        display: initial !important;
        width: 75px;
      }
    }
  }

  .bootes {
    &_titleBundle {
      display: flex;
      justify-content: space-around;
      white-space: nowrap;
      border-bottom: 2px solid $darkGreen;

      cursor: pointer;
      h3 {
        transition: transform $transitionButtonTime, color $transitionButtonTime;
        color: $darkGreen;
        &.unactive {
          color: rgba($lightGreen, 0.35);
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }
        &.active {
          transform: scale(1.05);
        }
      }
    }
    &_container {
      margin-top: -0px !important;
    }
    &_content {
      grid-template-columns: 1fr 0.5fr !important;
      &-article {
        &-txt {
          height: 300px;
        }
        &.second-element {
          grid-column: 1 / 3;

          align-items: end;
        }
        &-title {
          text-align: center !important;
          &.second-title {
            // display: none;
            position: initial !important;
            animation: none;
            width: 50%;
          }
        }
      }
    }
  }

  .skills {
    &_content {
      bottom: 40px !important;
      &-titleGroup {
        flex-direction: row !important;
        justify-content: center;
        padding: 10px;
        margin-top: 0px !important;
      }
      &-articleListing {
        gap: 5px !important;
      }

      &_carrousel {
        display: flex;
        scroll-snap-type: x mandatory;
        cursor: grab;
        cursor: -webkit-grab;
        &_wrapper {
          display: flex;
          scroll-snap-type: x mandatory;
        }
      }

      &_low {
        gap: 30px !important;
        justify-content: initial !important;
        overflow-y: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      }

      & section {
        margin: 30px !important;
        flex: 0 0 100%;
        width: 100%;
        min-width: 50%;
        scroll-snap-align: center;
        box-shadow: -5px 5px 10px, 0 0 2px, 0 0 1em #0ca876, 0 0 0.5em #0ca876,
          0 0 1em #0ca876, 0 10px 3px #000 !important;
      }
    }
  }

  figcaption.skills_content-credit {
    top: 10px !important;
  }

  .creations {
    &_content {
      &_upper-nav {
        flex: 1.25 !important;
      }
      &_carrousel {
        gap: 40px !important;
        &-txt {
          &-title,
          &-links {
            line-height: 0%;
          }
          &-description {
            padding: 0 10px 0 0;
            max-height: 300px !important;
          }
          &-title {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .contact_content_lower-main-links {
    flex: initial !important;
    & span {
      display: none;
    }
  }

  .contact_content {
    &_title p {
      display: none;
    }
    &_lower-main {
      height: 300px !important;
    }
  }
}

/* Low Tablette- 768 - Square - portrait though */
@media (max-width: 1023px) {
  .importantComponent {
    min-height: 960px !important;
    height: 110vh !important;
  }
  .header_content {
    padding: 10px 10px !important;
    &-ul {
      gap: 40px !important;
    }
  }

  .bootes {
    &_title {
      top: 40px !important;
    }
    &_container {
      min-height: 960px !important;
    }
    &_content {
      position: initial;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      &-article-txt {
        height: 260px !important;
      }
      &-picture {
        width: 240px !important;
      }
    }
  }

  .skills_content {
    bottom: 0px !important;
    &-titleGroup {
      flex-direction: column !important;
    }
    &_low {
      gap: 60px !important;
    }
  }

  figcaption.skills_content-credit {
    top: 0px !important;
  }

  .creations {
    &_content {
      &_carrousel {
        &-txt {
          &-title,
          &-links {
            line-height: 0%;
          }
          &-description {
            max-height: 300px !important;
            overflow: hidden;
            padding: 0px;
            line-height: 125%;
          }
        }
        &_items {
          display: flex;
          gap: 30px !important;
          justify-content: initial !important;
          overflow-x: auto;
          overflow-y: hidden;
          scroll-snap-type: x mandatory;
          align-items: center;
          width: 90vw;
        }

        &-unit {
          width: 100vw;
          display: flex;
          gap: 20px;
          flex-direction: row-reverse;
          text-align: center;
          border-radius: 15px;
          margin: 30px !important;
          flex: 0 0 95%;
          scroll-snap-align: center;
          height: 420px !important;
          padding: 0px !important;
        }
      }

      &_upper {
        flex-direction: column !important;
        align-items: initial !important;
        &-nav {
          display: none !important;
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }

  .contact_content_lower {
    &-main {
      gap: 5px !important;
    }
    &-mascot {
      & figure img {
        min-width: 180px;
      }
    }
    &-main {
      height: auto !important;
      &-txt {
        display: flex;
        flex-direction: column;
        padding: 15px !important;
        align-items: center;
        &-content {
          padding: 0 10px;
          &-subtitle {
            text-align: center !important;
          }
        }
      }
      &-links {
        padding: 20px !important;
        & div {
          display: flex !important;
          flex-direction: row !important;
        }
      }
    }
  }

  @media (max-width: 879px) {
    .header_content-li {
      & .header_nav-unit {
        font-size: 14px;
        transition: $transitionButtonTime;
      }
      &.active {
        & .header_nav-unit {
          font-size: $standardFontSize;
        }
      }
    }
  }
}

/* ------------------------------------
MOBILE
------------------------------------ */

/* HD smartphone - 480 */
@media (max-width: 767px) {
  .importantComponent {
    padding: 0 20px !important;
  }

  .anchor {
    &-target {
      position: relative;
      top: 100px;
    }
    &-first {
      position: absolute;
      top: 0;
    }
  }

  h2 {
    font-size: $mTitleFontSize !important;
    white-space: nowrap;
  }

  h3,
  .contact_content_lower-main-txt-content-title b {
    font-size: $mSubtitleFontSize !important;
  }

  p,
  b,
  .skills_content-articleListing {
    font-size: $mStandardFontSize !important;
  }

  .header {
    &_content {
      top: initial !important;
      bottom: 0 !important;
      padding: 0px !important;
    }

    &_nav {

      &-unit::before {
        display: none !important;
      }
      &-svg {
        height: 30px !important;
        width: 30px !important;
        box-shadow: 0 0px 10px rgb(255, 255, 255) !important;
        background-color: $brokenWhite;min-width: 70%;
      }

      &-mainTxt {
        display: none;
      }
    }

    &_content {
      flex-direction: column;

      &-logo {
        display: none;
      }
      &-miniLogo {
        display: none !important;
      }
      &-ul {
        gap: initial !important;
        padding: 0px !important;
        position: initial !important;
        display: flex;
        justify-content: space-around !important;
        width: 100% !important;
      }
      &-nav {
        margin-right: 20px !important;
      }
    }
  }

  .bootes {
    &_title {
      display: none !important;
    }

    &_content {
      position: relative;
      top: -20px !important;
    }
    &_icn {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      background-color: $darkGreen;

      &-img {
        height: 100px;
        padding: 10px;
      }
    }
    &_content-article {
      animation: none !important;
    }
  }

  .skills_content {
    &_low {
      gap: 0px !important;
    }

    & section {
      min-width: 70%;
    }
  }

  .contact_content_lower {
    &-mascot {
      & figure {
        margin: -40px auto -0px auto;
      }
    }
    &-main {
      flex-direction: column !important;
      & img {
        width: 100px !important;
        margin: 0px auto !important;
      }
    }
  }

  .creations_content_carrousel {
    &_items {
      height: initial !important;
    }
    &-img {
      height: initial !important;
    }

    &-unit {
      flex-direction: column;
      gap: 0px !important;
      height: initial !important;
      margin: 10px !important;
    }
  }
}

/* HD smartphone - 320 */
@media (max-width: 479px) {
  h2 {
    font-size: $lmTitleFontSize !important;
    white-space: nowrap;
  }

  h3,
  .contact_content_lower-main-txt-content-title b {
    font-size: $lmSubtitleFontSize !important;
  }

  p,
  b,
  .skills_content-articleListing {
    font-size: $lmStandardFontSize !important;
  }

  .header_content {
    flex-direction: column;
  }

  .anchor {
    &-target {
      position: relative;
      top: 140px;
    }
    &-first {
      position: absolute;
      top: 0;
    }
  }

  .bootes {
    &_icn {
      width: 100vw !important;
      height: 100px;
      background-color: $darkGreen;
      &-img {
        padding: 0px !important;
        box-sizing: content-box;
        object-fit: contain;
        height: 80%;
      }
    }
    &_container {
      min-height: 960px !important;
      margin-top: 60px !important;
    }

    &_content {
      position: sticky !important;
      &-article {
        padding: 0 20px;
      }

      &-article-txt {
        padding-right: 10px;
        height: 440px !important;
        overflow: scroll;
      }
    }
  }

  .contact_content {
    position: initial !important;
  }
}