@keyframes vibing--bootesProject {
    0% {
        transform: translate(2%, 0) rotate(-1deg);
    }

    10% {
        transform: translate(0, 7%) rotate(1deg);
    }

    20% {
        transform: translate(1%, 0) rotate(-1deg);
    }

    30% {
        transform: translate(0, 3.5%) rotate(1deg);
    }

    40% {
        transform: translate(0.5%, 0) rotate(-0.5deg);
    }

    50% {
        transform: translate(0, 1.5%) rotate(0.5deg);
    }

    60% {
        transform: translate(0, 0) rotate(-0.5deg);
    }

    70% {
        transform: translate(0, 0.5%) rotate(0.1deg);
    }

    80% {
        transform: translate(0, 0) rotate(0.0deg);
    }
}

@keyframes vibingMirror--bootesProject {
    0% {
        transform: translate(-2%, 0) rotate(1deg);
    }

    10% {
        transform: translate(0, 7%) rotate(-1deg);
    }

    20% {
        transform: translate(-1%, 0) rotate(1deg);
    }

    30% {
        transform: translate(0, 3.5%) rotate(-1deg);
    }

    40% {
        transform: translate(-0.5%, 0) rotate(0.5deg);
    }

    50% {
        transform: translate(0, 1.5%) rotate(-0.5deg);
    }

    60% {
        transform: translate(0, 0) rotate(0.5deg);
    }

    70% {
        transform: translate(0, 0.5%) rotate(-0.1deg);
    }

    80% {
        transform: translate(0, 0) rotate(0.0deg);
    }
}

@keyframes fallFromSky--bootesProject {
    0% {
        opacity: 0;
        transform: translateY(-500%);
    }

    80% {
        opacity: 0
    }

    ;

    85% {
        opacity: 1
    }

    ;

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft--bootesProject {
    0% {
        width: 0;
        opacity: 0;
    }

    25% {
        width: 50%;
        opacity: 0;
    }

    45% {
        opacity: 0.45;
    }

    100% {
        width: 75%;
        opacity: 1;
    }
}

@keyframes slideInRight--bootesProject {
    0% {
        width: 0;
        opacity: 0;
        transform: translateX(-100%);
    }

    25% {
        width: 50%;
        opacity: 0;
        transform: translateX(-100%);
    }

    45% {
        opacity: 0.45;
    }

    100% {
        width: 75%;
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes blink--mySkills {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

@keyframes slideIn--myCreations {
    0% {
      transform: translateY(-400px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut--myCreations  {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(400px);
      opacity: 0;
    }
  }  