/* COLORS ! */
$darkGreen: #031a13;
$lightGreen: #0CA876;
$brokenWhite: rgba(white, 0.95);

/* DIMENSIONS ! */
$anchorMargin: 0px;
$majorComponentHeight: 110vh;
$majorComponentDarkAfterLight: 60px;
$maxWidhtDesktop: 1600px;

/* ANIMTIONS ! */
$transitionButtonTime: 0.25s;

/* TEXTES ! */
$titleFontSize: 72px;
$subtitleFontSize: 36px;
$standardFontSize: 20px;
$linksFontSize: 28px;
$boldFontSize: $standardFontSize;
$listingFontSize: $standardFontSize + 2px;
$titleFontFamily: "Segoe UI", sans-serif;
$subtitleFontFamily: "Indie Flower", cursive;
$boldFontFamily: "Segoe UI", sans-serif;
$standardFontFamily: "Segoe UI", sans-serif;
$linksFontFamily: "Montserrat", sans-serif;
/* MOBILE FONT-SIZE ! */
$mTitleFontSize: 50px;
$mSubtitleFontSize: 26px;
$mStandardFontSize: 18px;
$mLinksFontSize: 20px;
/* MOBILE FONT-SIZE ! */
$lmTitleFontSize: 30px;
$lmSubtitleFontSize: 24px;
$lmStandardFontSize: 18px;
$lmLinksFontSize: 20px;