@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: white;
  margin: 0px;
}

li {
  list-style: none;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
}

figcaption {
  position: relative;
  bottom: 10px;
  font-size: small;
}

b {
  font-family: "Acme", sans-serif;
  font-size: large;
}

a {
  text-decoration: none;
  color: #031a13;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 0;
  height: 0;
  position: absolute;
}

.importantComponent {
  max-width: 1600px;
  margin: 0 auto;
}

.darkComponent {
  margin: -60px 0;
}

@keyframes vibing--bootesProject {
  0% {
    transform: translate(2%, 0) rotate(-1deg);
  }
  10% {
    transform: translate(0, 7%) rotate(1deg);
  }
  20% {
    transform: translate(1%, 0) rotate(-1deg);
  }
  30% {
    transform: translate(0, 3.5%) rotate(1deg);
  }
  40% {
    transform: translate(0.5%, 0) rotate(-0.5deg);
  }
  50% {
    transform: translate(0, 1.5%) rotate(0.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  70% {
    transform: translate(0, 0.5%) rotate(0.1deg);
  }
  80% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes vibingMirror--bootesProject {
  0% {
    transform: translate(-2%, 0) rotate(1deg);
  }
  10% {
    transform: translate(0, 7%) rotate(-1deg);
  }
  20% {
    transform: translate(-1%, 0) rotate(1deg);
  }
  30% {
    transform: translate(0, 3.5%) rotate(-1deg);
  }
  40% {
    transform: translate(-0.5%, 0) rotate(0.5deg);
  }
  50% {
    transform: translate(0, 1.5%) rotate(-0.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  70% {
    transform: translate(0, 0.5%) rotate(-0.1deg);
  }
  80% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes fallFromSky--bootesProject {
  0% {
    opacity: 0;
    transform: translateY(-500%);
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInLeft--bootesProject {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 50%;
    opacity: 0;
  }
  45% {
    opacity: 0.45;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}
@keyframes slideInRight--bootesProject {
  0% {
    width: 0;
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    width: 50%;
    opacity: 0;
    transform: translateX(-100%);
  }
  45% {
    opacity: 0.45;
  }
  100% {
    width: 75%;
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes blink--mySkills {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
@keyframes slideIn--myCreations {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut--myCreations {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(400px);
    opacity: 0;
  }
}
@keyframes sleepingAnimation--myCreations {
  0% {
    transform: translateY(10px) translateX(15px) rotate(0deg);
    transform-origin: right center;
  }
  52% {
    transform: translateY(20px) translateX(5px) rotate(-3deg);
    transform-origin: right center;
  }
  55% {
    transform: translateY(-25px) rotate(5deg);
    transform-origin: left;
  }
  58% {
    transform: translateY(0px) rotate(0deg);
    transform-origin: right center;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    transform-origin: right center;
  }
}
@keyframes wakingUpAnimation--myCreations {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  49% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-10px, -10px) rotate(-10deg) scale(1.25);
  }
  50.5% {
    transform: translate(10px, -10px) rotate(10deg) scale(1.25);
  }
  51% {
    transform: translate(-10px, 10px) rotate(-10deg);
  }
  51.5% {
    transform: translate(10px, -10px) rotate(10deg);
  }
  52% {
    transform: translate(-10px, -10px) rotate(-10deg) scale(1.25);
  }
  52.5% {
    transform: translate(10px, -10px) rotate(10deg) scale(1.25);
  }
  53% {
    transform: translate(-10px, 10px) rotate(-10deg);
  }
  53.5% {
    transform: translate(0, 0) rotate(0deg) scale(1.25);
  }
  54% {
    transform: translate(-10px, -10px) rotate(-10deg) scale(1.25);
  }
  54.5% {
    transform: translate(10px, -10px) rotate(10deg);
  }
  55% {
    transform: translate(-10px, 10px) rotate(-10deg) scale(1.25);
  }
  55.5% {
    transform: translate(10px, -10px) rotate(10deg) scale(1.25);
  }
  56% {
    transform: translate(-10px, -10px) rotate(-10deg);
  }
  56.5% {
    transform: translate(10px, -10px) rotate(10deg);
  }
  57% {
    transform: translate(-10px, 10px) rotate(-10deg);
  }
  57.5% {
    transform: translate(0, 0) rotate(0deg);
  }
  58% {
    transform: translate(-10px, -10px) rotate(-10deg);
  }
  58.5% {
    transform: translate(10px, -10px) rotate(10deg);
  }
  59% {
    transform: translate(-10px, 10px) rotate(-10deg);
  }
  59.5% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.anchor-target {
  height: 120px;
}
.anchor-first {
  height: calc(120px - 20px);
}

.bootes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #031a13;
  height: 1080px;
  background-color: white;
}
.bootes_content {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  position: relative;
  top: 20px;
}
.bootes_content-picture {
  width: 380px;
}
.bootes_content-article {
  animation: vibing--bootesProject 1.5s ease-in-out forwards 0.4s;
}
.bootes_content-article h2 {
  position: relative;
  bottom: 10px;
}
.bootes_content-article div {
  text-align: justify;
}
.bootes_content-article-title {
  font-size: 40px;
  font-weight: bold;
}
.bootes_title {
  animation: fallFromSky--bootesProject 0.4s ease-in forwards;
  color: #0CA876;
  font-size: 72px;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}

.second-element {
  animation: vibingMirror--bootesProject 1.5s ease-in-out forwards 0.4s;
}

.first-title {
  align-self: left;
  animation: slideInLeft--bootesProject 1.5s forwards;
}

.second-title {
  text-align: right;
  animation: slideInRight--bootesProject 1.5s forwards;
  position: relative;
  right: -100%;
}

.first-title,
.second-title {
  border-bottom: 2px solid #031a13;
  white-space: nowrap;
}

.header_content {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 0.5em 2em;
  background: linear-gradient(105deg, rgb(5, 46, 34) 20%, #fafafa 20.35%);
  box-shadow: 0 1.5px 6px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.header_content-li {
  counter-increment: number;
  min-width: 190px;
}
.header_content-li:hover {
  transform: scale(1.025);
  transition: transform 0.25s;
}
.header_content-ul {
  position: relative;
  top: 10px;
  display: flex;
  gap: 4em;
  text-align: center;
  text-justify: auto;
  padding: 0 80px;
}
.header_content-logo {
  width: 250px;
}
.header_nav-unit {
  position: relative;
  font-size: 20px;
}
.header_nav-unit:hover {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.header_nav-unit:hover::before {
  text-shadow: none;
}
.header_nav-unit::before {
  content: "0" counter(number) "_";
  display: inline-block;
  font-weight: 600;
  width: auto;
  left: 25px;
  top: -0.9em;
  line-height: 0.1em;
  font-size: 1.25em;
  position: absolute;
  height: auto;
}
.header_nav-svg {
  color: #0CA876;
  position: relative;
  top: 5px;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skills_container {
  background-color: #031a13;
  height: 1080px;
}
.skills_content {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.skills_content section {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #fffafa;
  border-radius: 2.5%;
  box-shadow: -5px 10px 20px, 0 0 2px, 0 0 2em #0CA876, 0 0 1em #0CA876, 0 0 1em #0CA876, 0 10px 3px #000;
  padding: 20px 0;
  margin-top: 15px;
  height: 520px;
}
.skills_content-img {
  width: 120px;
  height: 110px;
}
.skills_content-titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.skills_content-titleGroup h3 {
  position: relative;
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}
.skills_content-articleListing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  font-size: 24px;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.skills_content-description {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
.skills_content-bar {
  background-color: #0CA876;
  width: 80%;
  height: 2px;
  border-radius: 10px;
  margin: 15px 0;
  align-self: center;
}
.skills_content-credit {
  color: white;
  top: 10px;
  text-align: center;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 2em #0CA876, 0 0 1em #0CA876, 0 0 0.2em #0CA876, 0 10px 6px #000;
}
.skills_subTitle {
  margin: 15px 0 5px 0;
}

.title-skills {
  position: relative;
  bottom: 30px;
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  color: #fff;
  padding: 50px 0 0 50px;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #0CA876, 0 0 0.5em #0CA876, 0 0 0.1em #0CA876, 0 10px 3px #000;
  font-size: 72px;
}
.title-skills span:nth-of-type(1) {
  animation: blink--mySkills linear infinite 2s;
}
.title-skills span:nth-of-type(2) {
  font-family: "Segoe UI", sans-serif;
  animation: blink--mySkills linear infinite 3s;
}

.creations_container {
  display: flex;
  height: 1080px;
  margin-top: 60px;
  padding: 20px;
}
.creations_content {
  position: relative;
  bottom: 20px;
  padding: 10px;
  overflow: hidden;
}
.creations_content_carrousel {
  display: flex;
  height: 620px;
}
.creations_content_carrousel_left {
  display: flex;
  gap: 45px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  border-radius: 10% 0 0 10%;
  box-shadow: 0px 0px 10px #031a13;
}
.creations_content_carrousel_left-item {
  display: flex;
  gap: 30px;
  background-color: white;
}
.creations_content_carrousel_right {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: fff;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
  border-radius: 0 5% 5% 0;
  box-shadow: 0px 0px 10px #031a13;
  width: 1000px;
}
.creations_content_carrousel_middle {
  background-color: #031a13;
  width: 1px;
}
.creations_content_carrousel-label {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 10fr;
  text-align: center;
  align-items: center;
  padding: 0 50px;
  transition: transform 0.3s ease-in-out;
}
.creations_content_carrousel-label:hover {
  filter: brightness(80%);
  transform: scale(1.025);
}
.creations_content_carrousel-label span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 40px;
  font-size: 30px;
}
.creations_content_carrousel-label-img {
  font-size: 50px;
  color: #0CA876;
}

.title-creations {
  display: flex;
  position: relative;
  bottom: 30px;
  width: 100%;
  margin-bottom: 20px;
  color: #0CA876;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
  font-family: "Segoe UI", sans-serif;
  font-size: 72px;
  z-index: 2;
  justify-content: right;
}
.title-creations-sleepingAnimation {
  display: block;
  animation: sleepingAnimation--myCreations 4s forwards ease-in;
}
.title-creations-wakingUpAnimation {
  display: block;
  animation: wakingUpAnimation--myCreations 4s forwards ease-in;
}

.slidein-animation {
  animation: slideIn--myCreations 0.5s forwards;
}

.slideout-animation {
  animation: slideOut--myCreations 0.5s forwards;
}

/*# sourceMappingURL=main.css.map */
