@charset "UTF-8";
/* COLORS ! */
/* DIMENSIONS ! */
/* ANIMTIONS ! */
/* TEXTES ! */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.096);
}

::-webkit-scrollbar-thumb {
  background-color: #0CA876;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin;
}

body {
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: white;
  margin: 0px;
}

li {
  list-style: none;
}

figure {
  display: flex;
  flex-direction: column;
  text-align: center;
}

figcaption {
  position: relative;
  bottom: 10px;
  font-size: small;
}

b {
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
  color: #031a13;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 0;
  height: 0;
  position: absolute;
}

.importantComponent {
  max-width: 1600px;
}

.darkComponent {
  background-color: #031a13;
}

.importantComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding: 0px 0;
}

/* En dehors des résolutions prévues (où le rendu se veut optimal), tous les formats sont tolérés, du ridiculement large au ridiculement long.
/* ------------------------------------
DESKTOP
------------------------------------ */
/* HD Desktop - 1680px + */
@media (min-width: 1681px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    display: flex;
    min-height: 900px;
  }
}
/* HD Desktop - 1680px (x1050 / x900) */
@media (max-width: 1680px) {
  .importantComponent,
  .darkComponent,
  .creations_container {
    min-height: 920px;
    display: flex;
  }
  .importantComponent {
    padding: 0 40px;
  }
  .skills_content_low {
    align-items: center;
    width: 90vw;
  }
  .contact_content {
    position: relative;
    bottom: 40px !important;
  }
}
/* Desktop - 1440px (x900) */
@media (max-width: 1440px) {
  .header_content {
    background: linear-gradient(105deg, rgb(5, 46, 34) 320px, #fafafa 325px) !important;
  }
  .header_content-ul {
    gap: 2rem !important;
    white-space: nowrap;
  }
  .contact_content_lower-main {
    height: 420px !important;
  }
  .contact_content_lower-main-txt-content {
    gap: 0px !important;
  }
  .contact_content_lower-main-txt-content-subtitle p:nth-child(2) {
    display: none;
  }
  .creations_content_carrousel {
    height: 500px !important;
  }
}
/* Low Desktop - 1366px (x768) - Very low Desktop - 1280px (x800) */
@media (max-width: 1366px) {
  .bootes_title {
    position: relative;
    top: -20px !important;
  }
  .bootes_content {
    position: relative;
    top: -40px !important;
    grid-template-columns: 3fr 0.5fr 3fr;
  }
  .bootes_content-picture {
    width: 300px !important;
  }
  .skills_subTitle {
    margin: 5px 0 5px 0 !important;
  }
  .skills_content {
    position: relative;
    bottom: 60px !important;
  }
  .skills_content-img {
    height: 90px !important;
    width: 100px !important;
  }
  .skills_content section {
    height: 420px !important;
    padding: 0 5px !important;
  }
  .skills_content-description {
    display: none !important;
  }
  .skills_content-description + .contentBar-horizontal {
    margin: 0 !important;
  }
  figcaption.skills_content-credit {
    top: 10px !important;
  }
  .creations_content {
    position: relative;
    bottom: 20px !important;
  }
  .creations_content_carrousel {
    height: initial !important;
    max-height: 440px !important;
  }
  .creations_content_carrousel-img {
    min-width: 300px !important;
  }
  .creations_content_carrousel-txt-description {
    max-height: 200px !important;
    overflow: scroll;
    overflow-x: hidden !important;
    scrollbar-width: thin;
    padding: 0 10px;
  }
  .contact_content_lower-main {
    height: 400px !important;
  }
  .contact_content_title {
    display: initial !important;
  }
}
/* ------------------------------------
TABLETTE
------------------------------------ */
/* HD Tablette - 1024 (x 768 - x600 toléré seulement) - Still landscape/square though */
@media (max-width: 1279px) {
  .importantComponent {
    min-height: 840px !important;
  }
  figure {
    justify-content: center !important;
  }
  figcaption.skills_content-credit {
    top: -20px !important;
  }
  .header_nav {
    width: fit-content !important;
  }
  .header_nav-prefixe {
    display: none;
  }
  .header_nav-unit {
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px #0CA876;
  }
  .header_nav-svg {
    box-shadow: 0 0px 5px rgb(255, 255, 255) !important;
  }
  .header_content {
    background: rgb(5, 46, 34) !important;
    box-shadow: 0 0px 2px rgba(12, 168, 118, 0.75), 0 2px 10px rgba(255, 255, 255, 0.25) !important;
  }
  .header_content-nav {
    width: 100% !important;
  }
  .header_content-logo {
    display: none;
  }
  .header_content-ul {
    text-align: initial !important;
    display: flex;
    justify-content: space-around;
  }
  .header_content-li {
    min-width: auto !important;
  }
  .header_content-miniLogo {
    display: initial !important;
    width: 75px;
  }
  .bootes_titleBundle {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    border-bottom: 2px solid #031a13;
    cursor: pointer;
  }
  .bootes_titleBundle h3 {
    transition: transform 0.25s, color 0.25s;
    color: #031a13;
  }
  .bootes_titleBundle h3.unactive {
    color: rgba(12, 168, 118, 0.35);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .bootes_titleBundle h3.active {
    transform: scale(1.05);
  }
  .bootes_container {
    margin-top: 0px !important;
  }
  .bootes_content {
    grid-template-columns: 1fr 0.5fr !important;
  }
  .bootes_content-article-txt {
    height: 300px;
  }
  .bootes_content-article.second-element {
    grid-column: 1/3;
    align-items: end;
  }
  .bootes_content-article-title {
    text-align: center !important;
  }
  .bootes_content-article-title.second-title {
    position: initial !important;
    animation: none;
    width: 50%;
  }
  .skills_content {
    bottom: 40px !important;
  }
  .skills_content-titleGroup {
    flex-direction: row !important;
    justify-content: center;
    padding: 10px;
    margin-top: 0px !important;
  }
  .skills_content-articleListing {
    gap: 5px !important;
  }
  .skills_content_carrousel {
    display: flex;
    scroll-snap-type: x mandatory;
    cursor: grab;
    cursor: -webkit-grab;
  }
  .skills_content_carrousel_wrapper {
    display: flex;
    scroll-snap-type: x mandatory;
  }
  .skills_content_low {
    gap: 30px !important;
    justify-content: initial !important;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .skills_content section {
    margin: 30px !important;
    flex: 0 0 100%;
    width: 100%;
    min-width: 50%;
    scroll-snap-align: center;
    box-shadow: -5px 5px 10px, 0 0 2px, 0 0 1em #0ca876, 0 0 0.5em #0ca876, 0 0 1em #0ca876, 0 10px 3px #000 !important;
  }
  figcaption.skills_content-credit {
    top: 10px !important;
  }
  .creations_content_upper-nav {
    flex: 1.25 !important;
  }
  .creations_content_carrousel {
    gap: 40px !important;
  }
  .creations_content_carrousel-txt-title, .creations_content_carrousel-txt-links {
    line-height: 0%;
  }
  .creations_content_carrousel-txt-description {
    padding: 0 10px 0 0;
    max-height: 300px !important;
  }
  .creations_content_carrousel-txt-title {
    white-space: nowrap;
  }
  .contact_content_lower-main-links {
    flex: initial !important;
  }
  .contact_content_lower-main-links span {
    display: none;
  }
  .contact_content_title p {
    display: none;
  }
  .contact_content_lower-main {
    height: 300px !important;
  }
}
/* Low Tablette- 768 - Square - portrait though */
@media (max-width: 1023px) {
  .importantComponent {
    min-height: 960px !important;
    height: 110vh !important;
  }
  .header_content {
    padding: 10px 10px !important;
  }
  .header_content-ul {
    gap: 40px !important;
  }
  .bootes_title {
    top: 40px !important;
  }
  .bootes_container {
    min-height: 960px !important;
  }
  .bootes_content {
    position: initial;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .bootes_content-article-txt {
    height: 260px !important;
  }
  .bootes_content-picture {
    width: 240px !important;
  }
  .skills_content {
    bottom: 0px !important;
  }
  .skills_content-titleGroup {
    flex-direction: column !important;
  }
  .skills_content_low {
    gap: 60px !important;
  }
  figcaption.skills_content-credit {
    top: 0px !important;
  }
  .creations_content_carrousel-txt-title, .creations_content_carrousel-txt-links {
    line-height: 0%;
  }
  .creations_content_carrousel-txt-description {
    max-height: 300px !important;
    overflow: hidden;
    padding: 0px;
    line-height: 125%;
  }
  .creations_content_carrousel_items {
    display: flex;
    gap: 30px !important;
    justify-content: initial !important;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
    width: 90vw;
  }
  .creations_content_carrousel-unit {
    width: 100vw;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    text-align: center;
    border-radius: 15px;
    margin: 30px !important;
    flex: 0 0 95%;
    scroll-snap-align: center;
    height: 420px !important;
    padding: 0px !important;
  }
  .creations_content_upper {
    flex-direction: column !important;
    align-items: initial !important;
  }
  .creations_content_upper-nav {
    display: none !important;
    width: 75%;
    margin: 0 auto;
  }
  .contact_content_lower-main {
    gap: 5px !important;
  }
  .contact_content_lower-mascot figure img {
    min-width: 180px;
  }
  .contact_content_lower-main {
    height: auto !important;
  }
  .contact_content_lower-main-txt {
    display: flex;
    flex-direction: column;
    padding: 15px !important;
    align-items: center;
  }
  .contact_content_lower-main-txt-content {
    padding: 0 10px;
  }
  .contact_content_lower-main-txt-content-subtitle {
    text-align: center !important;
  }
  .contact_content_lower-main-links {
    padding: 20px !important;
  }
  .contact_content_lower-main-links div {
    display: flex !important;
    flex-direction: row !important;
  }
}
@media (max-width: 1023px) and (max-width: 879px) {
  .header_content-li .header_nav-unit {
    font-size: 14px;
    transition: 0.25s;
  }
  .header_content-li.active .header_nav-unit {
    font-size: 20px;
  }
}
/* ------------------------------------
MOBILE
------------------------------------ */
/* HD smartphone - 480 */
/* HD smartphone - 320 */
/* OLD & TEMP */
@keyframes vibing--bootesProject {
  0% {
    transform: translate(2%, 0) rotate(-1deg);
  }
  10% {
    transform: translate(0, 7%) rotate(1deg);
  }
  20% {
    transform: translate(1%, 0) rotate(-1deg);
  }
  30% {
    transform: translate(0, 3.5%) rotate(1deg);
  }
  40% {
    transform: translate(0.5%, 0) rotate(-0.5deg);
  }
  50% {
    transform: translate(0, 1.5%) rotate(0.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  70% {
    transform: translate(0, 0.5%) rotate(0.1deg);
  }
  80% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes vibingMirror--bootesProject {
  0% {
    transform: translate(-2%, 0) rotate(1deg);
  }
  10% {
    transform: translate(0, 7%) rotate(-1deg);
  }
  20% {
    transform: translate(-1%, 0) rotate(1deg);
  }
  30% {
    transform: translate(0, 3.5%) rotate(-1deg);
  }
  40% {
    transform: translate(-0.5%, 0) rotate(0.5deg);
  }
  50% {
    transform: translate(0, 1.5%) rotate(-0.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  70% {
    transform: translate(0, 0.5%) rotate(-0.1deg);
  }
  80% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes fallFromSky--bootesProject {
  0% {
    opacity: 0;
    transform: translateY(-500%);
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInLeft--bootesProject {
  0% {
    width: 0;
    opacity: 0;
  }
  25% {
    width: 50%;
    opacity: 0;
  }
  45% {
    opacity: 0.45;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}
@keyframes slideInRight--bootesProject {
  0% {
    width: 0;
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    width: 50%;
    opacity: 0;
    transform: translateX(-100%);
  }
  45% {
    opacity: 0.45;
  }
  100% {
    width: 75%;
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes blink--mySkills {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
@keyframes slideIn--myCreations {
  0% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOut--myCreations {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
@keyframes sleepingAnimation--myCreations {
  0% {
    transform: translateY(80px) translateX(0px);
    opacity: 0;
  }
  6% {
    transform: translateY(60px) translateX(0px);
    opacity: 0;
  }
  13% {
    transform: translateY(-20px) translateX(0px) rotate(0deg);
    opacity: 1;
  }
  18% {
    transform: translateY(0px) rotate(0deg);
    transform-origin: right center;
  }
}
@keyframes sideWays--contactUs {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}
@keyframes bubble--contactUs {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}
@keyframes waterEffect--contactUs {
  0% {
    transform: translateY(-300%) rotate(45deg);
  }
  30% {
    transform: translateY(-100%) rotate(25deg);
  }
  41.5% {
    transform: translateY(-70%) rotate(16deg);
  }
  55% {
    transform: translateY(-40%) rotate(8deg);
  }
  70% {
    transform: translateY(-1%) rotate(0deg);
  }
  78% {
    transform: translateY(-1%) rotate(1deg);
  }
  80% {
    transform: translateY(-1%) rotate(1deg);
  }
  82% {
    transform: translateY(-1%) rotate(1deg);
  }
  95% {
    transform: translateY(0%) rotate(0deg);
  }
}
.anchor-target {
  height: 0px;
}
.anchor-first {
  height: 0px;
}

.contentBar-horizontal {
  background-color: #0CA876;
  width: 80%;
  height: 2px;
  border-radius: 10px;
  margin: 15px 0;
  align-self: center;
}
.contentBar-vertical {
  background-color: #0CA876;
  width: 2px;
  height: 80%;
  border-radius: 10px;
  margin: 15px 0;
  align-self: center;
}

.bootes_container {
  display: flex;
  align-items: center;
  justify-content: center !important;
  color: #031a13;
  height: 110vh;
  background-color: white;
  margin-top: -20px;
}
.bootes_content {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.bootes_content-picture {
  width: 380px;
}
.bootes_content-article {
  animation: vibing--bootesProject 1.5s ease-in-out forwards 0.4s;
}
.bootes_content-article h2 {
  position: relative;
  bottom: 10px;
}
.bootes_content-article div {
  text-align: justify;
}
.bootes_content-article-title {
  font-size: 40px;
  font-weight: bold;
}
.bootes_content-article-txt {
  font-size: 20px;
}
.bootes_title {
  animation: fallFromSky--bootesProject 0.4s ease-in forwards;
  color: #0CA876;
  font-size: 72px;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
}

.second-element {
  animation: vibingMirror--bootesProject 1.5s ease-in-out forwards 0.4s;
}

.first-title {
  align-self: left;
  animation: slideInLeft--bootesProject 1.5s forwards;
}

.second-title {
  text-align: right;
  animation: slideInRight--bootesProject 1.5s forwards;
  position: relative;
  right: -100%;
}

.first-title,
.second-title {
  border-bottom: 2px solid #031a13;
  white-space: nowrap;
}

.header_content {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 0.5em 2em;
  background: linear-gradient(105deg, rgb(5, 46, 34) 20%, #fafafa 20.35%);
  box-shadow: 0 1.5px 6px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.header_content-li {
  counter-increment: number;
  min-width: 190px;
  transition: transform 0.25s;
}
.header_content-li:hover {
  transform: scale(1.025);
}
.header_content-ul {
  position: relative;
  top: 10px;
  display: flex;
  gap: 4em;
  text-align: center;
  text-justify: auto;
  padding: 0 80px;
}
.header_content-logo {
  width: 250px;
}
.header_content-miniLogo {
  display: none;
}
.header_nav-unit {
  position: relative;
  font-size: 20px;
}
.header_nav-unit:hover {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.header_nav-unit:hover::before {
  text-shadow: none;
}
.header_nav-unit::before {
  content: "0" counter(number) "_";
  display: inline-block;
  font-weight: 600;
  width: auto;
  left: 25px;
  top: -0.9em;
  line-height: 0.1em;
  font-size: 1.25em;
  position: absolute;
  height: auto;
}
.header_nav-svg {
  color: #0CA876;
  position: relative;
  top: 5px;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.skills_container {
  height: 110vh;
}
.skills_content {
  display: flex;
  flex-direction: column;
}
.skills_content_low {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.skills_content section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #fffafa;
  border-radius: 15px;
  box-shadow: -5px 10px 20px, 0 0 2px, 0 0 2em #0CA876, 0 0 1em #0CA876, 0 0 1em #0CA876, 0 10px 3px #000;
  padding: 20px 0;
  margin-top: 15px;
  height: 500px;
}
.skills_content-img {
  width: 120px;
  height: 110px;
}
.skills_content-titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.skills_content-titleGroup h3 {
  position: relative;
  font-size: 36px;
  font-family: "Indie Flower", cursive;
}
.skills_content-articleListing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
  font-family: "Segoe UI", sans-serif;
  margin: auto;
}
.skills_content-description {
  font-size: 20px;
  position: relative;
  bottom: 5px;
}
.skills_content-credit {
  color: white;
  top: 10px;
  text-align: center;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 2em #0CA876, 0 0 1em #0CA876, 0 0 0.2em #0CA876, 0 10px 6px #000;
}
.skills_subTitle {
  margin: 15px 0 5px 0;
}

.title-skills {
  position: relative;
  bottom: 30px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #0CA876, 0 0 0.5em #0CA876, 0 0 0.1em #0CA876, 0 10px 3px #000;
  font-size: 72px;
}
.title-skills span:nth-of-type(1) {
  animation: blink--mySkills linear infinite 2s;
}
.title-skills span:nth-of-type(2) {
  animation: blink--mySkills linear infinite 3s;
}

.creations_container {
  height: 110vh;
}
.creations_content b {
  font-size: 20px;
}
.creations_content_upper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: last baseline;
}
.creations_content_upper-title {
  display: flex;
  flex: 3;
  justify-content: right;
  color: #0CA876;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
  font-family: "Segoe UI", sans-serif;
  font-size: 72px;
}
.creations_content_upper-title-sleepingAnimation {
  display: block;
  animation: sleepingAnimation--myCreations 4s forwards ease-in-out;
}
.creations_content_upper-label {
  font-size: 36px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}
.creations_content_upper-label:hover {
  transform: scale(1.125);
}
.creations_content_upper-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.creations_content_upper-nav label {
  flex: 1;
  height: fit-content;
  background-color: #0CA876;
  border-radius: 10px;
  transition: all 0.3 ease;
  text-shadow: 0px 0px 5px #031a13;
  color: white;
}
.creations_content_upper-nav label:hover {
  flex: 1.25;
  color: white;
  box-shadow: 0px 0px 5px #0CA876;
  text-shadow: 0px 0px 5px #0CA876;
  background-color: #031a13;
  opacity: 0.9;
}
.creations_content_carrousel {
  position: relative;
  bottom: 20px;
  height: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  padding: 15px 0;
  text-align: center;
}
.creations_content_carrousel-img {
  flex: 3;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px #0CA876;
  border-radius: 5px;
  box-sizing: border-box;
  object-fit: contain;
}
.creations_content_carrousel-txt {
  display: flex;
  flex-direction: column;
  flex: 1.25;
  text-align: center;
  color: #031a13;
  height: auto;
  padding: 5px;
  gap: 15px;
  margin: auto 0;
}
.creations_content_carrousel-txt-title {
  flex: 1;
  font-size: 36px;
}
.creations_content_carrousel-txt-title-subtitle {
  display: block;
  border-bottom: 1px solid #0CA876;
  box-shadow: 0px 0px 5px #0CA876;
}
.creations_content_carrousel-txt-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
}
.creations_content_carrousel-txt-links svg {
  height: 25px;
  transition: 0.25s;
  color: #0CA876;
}
.creations_content_carrousel-txt-links svg:hover {
  transform: scale(1.25);
  cursor: pointer;
  color: #031a13;
}
.creations_content_carrousel-txt-description {
  flex: 6;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100%;
}

.slidein-animation {
  animation: slideIn--myCreations 0.35s forwards;
}

.slideout-animation {
  animation: slideOut--myCreations 0.35s forwards;
}

.checked {
  flex: 1.25 !important;
  color: white;
  box-shadow: 0px 0px 5px #0CA876 !important;
  text-shadow: 0px 0px 5px #0CA876 !important;
  background-color: #031a13 !important;
  opacity: 0.9 !important;
  transform: scale(1.125);
}

.contact_container {
  width: 100vw;
}
.contact_content_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: fit-content;
}
.contact_content_title-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_content_title-flowingAnimation {
  display: block;
  opacity: 1;
  animation: waterEffect--contactUs 6s linear forwards;
  transform-origin: center;
}
.contact_content_title h2 {
  font-size: 72px;
  height: 72px;
  text-shadow: 0 1px 2px rgb(0, 0, 0);
  color: #fff;
  text-shadow: 0 0px 40px, 0 0 2px, 0 0 0.25em #0CA876, 0 0 0.25em #0CA876, 0 0 0.1em #0CA876;
}
.contact_content_title p {
  position: relative;
  bottom: 40px;
  color: white;
  font-size: 20px;
  text-shadow: 0 0px 80px, 0 0 2px, 0 0 0.125em #0CA876, 0 0 0.125em #0CA876, 0 0 0.0125em #0CA876;
}
.contact_content_lower {
  display: flex;
  width: 100%;
}
.contact_content_lower-main {
  flex: 4;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fffafa;
  border-radius: 15px;
  box-shadow: -5px 10px 20px, 0 0 2px, 0 0 2em #0CA876, 0 0 1em #0CA876, 0 0 1em #0CA876, 0 10px 3px #000;
  height: 500px;
  gap: 30px;
}
.contact_content_lower-main-links {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  padding: 50px;
  white-space: nowrap;
}
.contact_content_lower-main-links div {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact_content_lower-main-links div a {
  cursor: pointer;
  color: #031a13;
  transition: 0.25s;
  color: #0CA876;
}
.contact_content_lower-main-links div a:hover {
  transform: scale(1.125);
  color: #031a13;
}
.contact_content_lower-main-links div a svg {
  font-size: 50px;
  width: 50px;
}
.contact_content_lower-main-txt {
  flex: 1.5;
  padding: 10px;
}
.contact_content_lower-main-txt-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_content_lower-main-txt-content-title {
  text-align: center;
}
.contact_content_lower-main-txt-content-title b {
  font-size: 36px;
}
.contact_content_lower-main-txt-content-subtitle {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: justify;
}
.contact_content_lower-mascot {
  flex: 1;
}
.contact_content_lower-mascot img {
  width: 100%;
}
.contact_content_lower-mascot figcaption {
  position: relative;
  bottom: 2rem;
  text-align: center;
  white-space: nowrap;
}

.ocean {
  position: relative;
  height: 110vh;
  background-image: #031a13;
  overflow: hidden;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble--contactUs 15s ease-in-out infinite, sideWays--contactUs 4s ease-in-out infinite alternate;
}
.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}
.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}
.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}
.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}
.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}
.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}
.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}
.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}
.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}
.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}
.bubble--12 {
  width: 20px;
  height: 20px;
  left: 70%;
  bottom: 30px;
  animation-delay: -15s;
  animation-duration: 22s;
  opacity: 0.4;
}
.bubble--13 {
  width: 25px;
  height: 25px;
  left: 20%;
  bottom: 30px;
  animation-delay: -12s;
  animation-duration: 18s;
  opacity: 0.2;
}
.bubble--14 {
  width: 15px;
  height: 15px;
  left: 50%;
  bottom: 30px;
  animation-delay: -8s;
  animation-duration: 16s;
  opacity: 0.3;
}
.bubble--15 {
  width: 30px;
  height: 30px;
  left: 70%;
  bottom: 30px;
  animation-delay: -20s;
  animation-duration: 14s;
  opacity: 0.1;
}

/*# sourceMappingURL=main.css.map */
